.backimg
  .newmenu
    .form-field
      %h2 新規ユーザー登録
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :ニックネーム
          %br/
          = f.text_field :nickname, required: true,autofocus: true, autocomplete: "nickname" ,maxlength: "6"
        .field
          = f.label :メールアドレス
          %br/
          = f.email_field :email,required: true, autofocus: true, autocomplete: "email"
        .field
          = f.label :パスワード
          - if @minimum_password_length
            %em
              (#{@minimum_password_length}文字以上)
          %br/
          = f.password_field :password,required: true, autocomplete: "new-password"
        .field
          = f.label :パスワードをもう一度
          %br/
          = f.password_field :password_confirmation,required: true, autocomplete: "new-password"
        .actions
          = f.submit "ユーザー作成"
    = render "devise/shared/links"
