.header
  = link_to root_path,class:"header__title" do
    Effector Collection
    .header__title-text
      エフェクターの情報交換サイトです。
      %br
      エフェクターの使用の感想などを記入し
      %br
      他の人との情報交換ができます。
      %br
      自分のコレクション用としても使用できます。
    .search
      = form_with(url: effects_searches_path, local: true, method: :get) do |form| 
        = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" 
        = form.submit "検索", class: "search-btn"
  - if user_signed_in? 
    .header__list
      .header__list-name
        ログイン中： 
        .header__list-user
          = current_user.nickname
      = link_to new_effect_path,class: "header__list-post" do
        = icon('fa', 'pen')
        新規投稿
      = link_to user_path(current_user.id),class: "header__list-mypage" ,data: {"turbolinks" => false} do
        = icon('fa', 'user-circle')
        マイページ
      = link_to destroy_user_session_path, method: :delete,class: "header__list-logout" do
        = icon('fa', 'user-times')
        ログアウト
  - else
    .header__list
      = link_to new_user_session_path,class: "header__list-login" do
        = icon('fa', 'user')
        ログイン
      = link_to new_user_registration_path,class: "header__list-new" do
        = icon('fa', 'user-plus')
        新規登録