.wrapper
= render 'temple/head'

.main
  .page
    = @nickname
    さんの投稿一覧
  .pagenate
    .pagenate-text
      = paginate(@effects)
  .content
    - @effects.each do |effect|
      .content__box
        - if user_signed_in? && current_user.id == effect.user_id
          = link_to '編集', edit_effect_path(effect.id), method: :get,class:"content__box-edit", data: {"turbolinks" => false}
          = link_to '削除', effect_path(effect.id), method: :delete,class:"content__box-delete"
        .content__box__hi
          .content__box__hi-maker
            = effect.maker
            .content__box__hi-text
              = effect.name
        .content__box__row
          .content__box__row-attri
            種類:
            .content__box__row-attri
              = effect.attri
          .post
            投稿者:
            .post-name
              = effect.user.nickname
        .content__box__image
          = link_to effect_path(effect.id) ,data: {"turbolinks" => false}do
            = image_tag effect.image.url, class: "index-images"


