.wrapper
  = render 'temple/head'
.block
  .sidebar
    .sidebar-link
      .sidebar__effect
        .sidebar__effect-name
          投稿者：
          = @effect.user.nickname
        .sidebar__effect-maker
          メーカー：
          = @effect.maker
        .sidebar__effect-name
          　名前　：
          = @effect.name
        .sidebar__effect-attri
          　種類　：
          = @effect.attri
        .sidebar__effect__box
          .sidebar__effect__box-image
            = image_tag @effect.image.url, class: "index-images"  
      .sidebar__effect-text
        =@effect.text
  .comment
    .comment__view
      -@comments.each do |comment| 
        .comment__view__box
          .comment__view__box-hi
            = link_to comment.user.nickname, user_path(@effect.user.id),class:"comment__view__box-hi-name"
            .comment__view__box-hi-time
              = comment.created_at
          .comment__view__box-row  
            .comment__view__box-row__text
              = comment.text 
    - if user_signed_in? 
      .send
        = form_with(model: [@effect, @comment], local: true,id: "new_comment") do |form| 
          .send-comment
            コメントを入力
            = form.text_area :text,class:"send-form"
            .send-form-submit
              = form.submit "送信",class: "form__submit"
    - else
      .send
        .send-message
          コメントをするにはログインか
          新規登録を行ってください。