.wrapper
  = render 'temple/head'


.main
  .content
    - @effects.each do |effect| 
      .content__box
        .content__box__hi
          .content__box__hi-maker
            = effect.maker
            .content__box__hi-text
              = effect.name
        .content__box__row
          .content__box__row-attri
            種類:
            .content__box__row-attri
              = effect.attri
          .post
            投稿者:
            .post-name
              = link_to effect.user.nickname,user_path(effect.user.id), method: :get
        .content__box__image
          = link_to effect_path(effect.id) do
            = image_tag effect.image.url, class: "index-images"