.wrapper
  = render 'temple/head'


.main
  .content
    - @effects.each do |effect| 
      .content__box
        .content__box__hi
          .content__box__hi-maker
            = effect.maker
            .content__box__hi-text
              = effect.name
        .content__box__row
          .koop
            種類:
            .koop-attri
              = effect.attri
          .post
            投稿者:
            .post-name
              = link_to effect.user.nickname,"/users/#{effect.user.id}", method: :get
        .content__box__image
          = link_to image_tag(effect.image.url),"/effects/#{effect.id}", method: :get
          1